.topContainer {
  display: flex;
}
.tops {
  position: fixed;
  top: 0;
  right: 0;
  left: 49px;
  z-index: 2;
}

.sidebar {
  top: 13px;
  bottom: 13px;
  left: 0;
  position: fixed;
  z-index: 3;
}

.components {
  flex: 90%;
  padding-left: 48px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 195px;
  margin-left: 5px;
}

