.sidebar {
    background: linear-gradient(180deg, #247BFF 0%, #0752C4 100%);
    border-radius: 1px 10px 10px 1px; 
    display: flex;
    height: 100%;
}

.menuWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 5px;
}
.hiMenu {
    color: #FFFFFF;
    height: 28px;
    width: 28px;
}
